
@model WebApplication1.Models.ModeloIntermedio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCliente.Nombre, htmlAttributes: new
{ @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCliente.Nombre, new
{
    htmlAttributes
= new { @class = "form-control" }
})
                @Html.ValidationMessageFor(model => model.modeloCliente.Nombre, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCliente.Apellido1, htmlAttributes:
new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCliente.Apellido1, new
{
    htmlAttributes = new { @class = "form-control" }
})
                @Html.ValidationMessageFor(model => model.modeloCliente.Apellido1,
"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCliente.Apellido1, htmlAttributes:
new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCliente.Apellido1, new
           {
               htmlAttributes = new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.modeloCliente.Apellido1,
"", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCliente.Cedula, htmlAttributes: new
{ @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCliente.Cedula, new
{
    htmlAttributes
= new { @class = "form-control" }
})
                @Html.ValidationMessageFor(model => model.modeloCliente.Cedula, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCliente.Correo, htmlAttributes: new
{
    @class = "control-label col-md-2"
})
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCliente.Correo, new
{
    htmlAttributes
= new { @class = "form-control" }
})
                @Html.ValidationMessageFor(model => model.modeloCliente.Correo, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCliente.Direccion, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCliente.Direccion, new
           {
               htmlAttributes
= new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.modeloCliente.Direccion, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloTelefono1.Numero, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloTelefono1.Numero, new
           {
               htmlAttributes
= new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.modeloTelefono1.Numero, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloTelefono2.Numero, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloTelefono2.Numero, new
           {
               htmlAttributes
= new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.modeloTelefono2.Numero, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCuenta1.Cuenta1, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCuenta1.Cuenta1, new
           {
               htmlAttributes
= new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.modeloCuenta1.Cuenta1, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCuenta2.Cuenta1, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCuenta2.Cuenta1, new
           {
               htmlAttributes
= new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.modeloCuenta2.Cuenta1, "",
new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.modeloCuenta3.Cuenta1, htmlAttributes: new
       {
           @class = "control-label col-md-2"
       })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modeloCuenta3.Cuenta1, new
           {
               htmlAttributes
= new { @class = "form-control" }
           })
                @Html.ValidationMessageFor(model => model.modeloCuenta3.Cuenta1, "",
new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}